<div class="container">
  <br />
  <div class="level-container">
    <div class="h1">Level</div>
    <button style="margin: 10px" class="btn btn-primary">{{ level }}</button>
  </div>
  <mat-progress-bar mode="determinate" [value]="experience"></mat-progress-bar>

  <div class="level-container daemon col-12" [class]="daemonDo">
    <app-daemon
      [config]="currentDaemonConfig"
      *ngIf="bt.task"
      (status)="checkStatus($event)"
    />
  </div>

  <div class="level-container">
    <button
      mat-raised-button
      color="primary"
      (click)="start()"
      *ngIf="!bt.task"
    >
      Enter Dangeon
    </button>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Notepad</label>
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
    ></textarea>
  </div>
</div>
