@font-face {
  font-family: "Radon";
  src: url("/assets/fonts/googlesans.woff2");
}

@font-face {
  font-family: "Radon";
  src: url("https://skycader.github.io/resumee/assets/fonts/googlesans.woff2");
}
