<mat-card class="example-card" *ngIf="config">
  <mat-card-header>
    <div
      mat-card-avatar
      [style.background-image]="'url(' + config.avatarSrc + ')'"
      class="example-header-image"
    ></div>
    <mat-card-title>
      <div>{{ config.title }}</div>
    </mat-card-title>
    <mat-card-subtitle>{{ config.subheader }} </mat-card-subtitle>
  </mat-card-header>
  <div
    matRipple
    class="background"
    [style.background-image]="'url(' + config.backgroundSrc + ')'"
  ></div>
  <mat-card-content>
    <p *ngIf="config.description">
      {{ config.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <mat-form-field class="example-full-width">
      <mat-label>Strike the daemon with correct hit</mat-label>
      <input
        matInput
        (keydown.enter)="checkForCorrectAnswer($event)"
        [(ngModel)]="input"
      />
    </mat-form-field>
  </mat-card-actions>
</mat-card>
